version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: biogenom
      POSTGRES_PASSWORD: biogenom_pass
      POSTGRES_DB: biogenomdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d biogenomdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Biogenom.Api/Dockerfile
      args:
        CONFIGURATION: Release
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=biogenomdb;Username=biogenom;Password=biogenom_pass"
    ports:
      - "8080:8080"
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata: